<section id="about" class="about-us">
    <div class="container about-us-container">
        <div class="description">
            <h2 class="description-title">About Us</h2>
            <p class="description-text">
                Welcome to our premium watch collection, where luxury and style 
            meet functionality and precision. Our selection of 
            timepieces embodies the very best in Swiss craftsmanship and 
            engineering, ensuring that you'll always have a reliable and 
            stylish accessory on your wrist.
            </p><br>
            <p class="description-text">
                At our premium watch collection, we believe that a watch is more 
            than just a timekeeping device – it's a statement piece that 
            reflects your personality and style. So why settle for anything less than the best? 
            </p>
            <div class="button-block">    
                <a href="#catalog" type="anchor-button" class="btn button-view">View catalog</a>
            </div>
        </div>
        <div class="image-block">
            <picture>
                <source
                  srcset="/img/about-1x.jpg 1x, /img/about-2x.jpg 2x"
                  media="(min-width: 1280px)" />
                <source
                  srcset="/img/about-tab-1x.jpg 1x, /img/about-tab-2x.jpg 2x"
                  media="(min-width: 768px)" />
                <source
                  srcset="/img/about-mob-1x.jpg 1x, /img/about-mob-2x.jpg 2x"
                  media="(min-width: 320px)" />
                <img
                  src="/img/about-1x.jpg"
                  alt="watch"
                  class="image-about-us"
              />
            </picture>
        </div>
    </div>
</section>
