<section class="catalog">
    <h2 class="catalog-watch">Catalog</h2>
    <ul class="catalog-items">
        <li class="catalog-item">
            <img src="img/catalog-1-1x.png" srcset="/img/catalog-1-1x.png 1x, 
            /img/catalog-1-2x.png 2x" alt="Garmin Fenix 7X Pro Sapphire Solar" width="304" height="312">
            <h3 class="catalog-text">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="catalog-paragraph">€500</p>
        </li>
        <li class="catalog-item">
            <img src="img/catalog-2-1x.png" srcset="/img/catalog-2-1x.png 1x, 
            /img/catalog-2-2x.png 2x" alt="Garmin Marq Athlete" width="304" height="312">
            <h3 class="catalog-text">Garmin Marq Athlete</h3>
            <p class="catalog-paragraph">€450</p>
        </li>
        <li class="catalog-item">
            <img src="img/catalog-3-1x.png" srcset="/img/catalog-3-1x.png 1x, 
            /img/catalog-3-2x.png 2x" alt="Garmin Descent MK1" width="304" height="312">
            <h3 class="catalog-text">Garmin Descent MK1</h3>
            <p class="catalog-paragraph">€680</p>
        </li>
        <li class="catalog-item">
            <img src="img/catalog-4-1x.png" srcset="/img/catalog-4-1x.png 1x, 
            /img/catalog-4-2x.png 2x" alt="Garmin D2 Delta PX" width="304" height="312">
            <h3 class="catalog-text">Garmin D2 Delta PX</h3>
            <p class="catalog-paragraph">€380</p>
        </li>
        <li class="catalog-item">
            <img src="img/catalog-5-1x.png" srcset="/img/catalog-5-1x.png 1x, 
            /img/catalog-5-2x.png 2x" alt="Garmin Fenix 6 Pro Solar" width="304" height="312">
            <h3 class="catalog-text">Garmin Fenix 6 Pro Solar</h3>
            <p class="catalog-paragraph">€400</p>
        </li>
        <li class="catalog-item">
            <img src="img/catalog-6-1x.png" srcset="/img/catalog-6-1x.png 1x, 
            /img/catalog-6-2x.png 2x" alt="Tube Watch S42 Date Steel With..." width="304" height="312">
            <h3 class="catalog-text">Tube Watch S42 Date Steel With...</h3>
            <p class="catalog-paragraph">€395</p>
        </li>
    </ul>
    <button class="show-more" onclick="showAllItems()">Show more</button>
</section>