<section class="catalog" id="catalog ">
  <div class="catalog-wrap container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/catalog1-1x.png 1x, /img/catalog1-2x.png 1x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog1-tab-1x.png 1x, /img/catalog1-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/catalog1-mob-1x.png 1x, /img/catalog1-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/catalog1-1x.png"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            class="item-img-catalog"
          />
        </picture>
        <div>
          <p class="catalog-item-title">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="catalog-price">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/catalog2-1x.png 1x, /img/catalog2-2x.png 1x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog2-tab-1x.png 1x, /img/catalog2-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/catalog2-mob-1x.png 1x, /img/catalog2-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/catalog2-1x.png"
            alt="Garmin Marq Athlete"
            class="item-img-catalog"
          />
        </picture>
        <div>
          <p class="catalog-item-title">Garmin Marq Athlete</p>
          <p class="catalog-price">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/catalog3-1x.png 1x, /img/catalog3-2x.png 1x 2x"
            media="(min-width: 1158px)"
          />
          <source
            srcset="/img/catalog3-tab-1x.png 1x, /img/catalog3-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/catalog3-mob-1x.png 1x, /img/catalog3-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/catalog3-1x.png"
            alt="Garmin Descent MK1"
            class="item-img-catalog"
          />
        </picture>
        <div>
          <p class="catalog-item-title">Garmin Descent MK1</p>
          <p class="catalog-price">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture>
          <source
            srcset="/img/catalog4-1x.png 1x, /img/catalog4-2x.png 1x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog4-tab-1x.png 1x, /img/catalog4-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/catalog4-mob-1x.png 1x, /img/catalog4-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/catalog4-1x.png"
            alt="Garmin D2 Delta PX"
            class="item-img-catalog"
          />
        </picture>
        <div>
          <p class="catalog-item-title">Garmin D2 Delta PX</p>
          <p class="catalog-price">€380</p>
        </div>
      </li>
      <li class="catalog-item hidden">
        <picture>
          <source
            srcset="/img/catalog5-1x.png 1x, /img/catalog5-2x.png 1x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog5-tab-1x.png 1x, /img/catalog5-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <img
            src="/img/catalog5-1x.png"
            alt="Garmin Fenix 6 Pro Solar"
            class="item-img-catalog"
          />
        </picture>
        <div>
          <p class="catalog-item-title">Garmin Fenix 6 Pro Solar</p>
          <p class="catalog-price">€400</p>
        </div>
      </li>
      <li class="catalog-item hidden">
        <picture>
          <source
            srcset="/img/catalog6-1x.png 1x, /img/catalog6-2x.png 1x 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/catalog6-tab-1x.png 1x, /img/catalog6-tab-2x.png 2x"
            media="(min-width: 768px)"
          />
          <img
            src="/img/catalog6-1x.png"
            alt="Tube Watch S42 Date Steel With Black Case"
            class="item-img-catalog"
          />
        </picture>
        <div>
          <p class="catalog-item-title">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <p class="catalog-price">€395</p>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-btn btn">Show more</button>
  </div>
</section>