<section class="container hero">
    <div class="hero-content-container">
        <div class="hero-info-text">
            <h1 class="hero-title">Welcome to our <span class="hero-title-accent">collection</span> of premium watches</h1>
            <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have
                a watch to suit every taste and occasion.
            </p>
        </div>
        <div class="hero-photos-container">
            <div class="photo-container">
                <div class="hero-img">
                    <picture>
                        <source srcset="/img/hero-1-revie-2-1x.jpg 1x, /img/hero-1-revie-2-2x.jpg 2x" media="(min-width: 1280px)" />
                        <source srcset="/img/hero-1-revie-2-1x.jpg 1x, /img/hero-1-revie-2-2x.jpg 2x" media="(min-width: 768px)" />
                        <source srcset="/img/hero-1-revie-2-1x.jpg 1x, /img/hero-1-revie-2-2x.jpg 2x" media="(min-width: 320px)" />
                        <img src="/img/hero-1-revie-2-1x.jpg" alt="Image of team member" width="60" height="60" />
                    </picture>
                </div>
                <div class="hero-img hero-img-2">
                    <picture>
                        <source srcset="/img/hero-2-revie-1-1x.jpg 1x, /img/hero-2-revie-1-2x.jpg 2x" media="(min-width: 1280px)" />
                        <source srcset="/img/hero-2-revie-1-1x.jpg 1x, /img/hero-2-revie-1-2x.jpg 2x" media="(min-width: 768px)" />
                        <source srcset="/img/hero-2-revie-1-1x.jpg 1x, /img/hero-2-revie-1-2x.jpg 2x" media="(min-width: 320px)" />
                        <img src="/img/hero-2-revie-1-1x.jpg" alt="Image of team member" width="60" height="60" />
                    </picture>
                </div>
                <div class="hero-img hero-img-3">
                    <picture>
                        <source srcset="/img/hero-3-revie-3-1x.jpg 1x, /img/hero-3-revie-3-2x.jpg 2x" media="(min-width: 1280px)" />
                        <source srcset="/img/hero-3-revie-3-1x.jpg 1x, /img/hero-3-revie-3-2x.jpg 2x" media="(min-width: 768px)" />
                        <source srcset="/img/hero-3-revie-3-1x.jpg 1x, /img/hero-3-revie-3-2x.jpg 2x" media="(min-width: 320px)" />
                        <img src="/img/hero-3-revie-1x.jpg" alt="Image of team member" width="60" height="60" />
                    </picture>
                </div>
            </div>
            <div class="hero-scroll-container">
                <a href="#footer" class="hero-scroll">Scroll down</a>
            </div>
        </div>
    </div>
    <div class="hero-picture-container">
        <picture class="pic">
            <source srcset="/img/hero-1x.jpg 1x, /img/hero-2x.jpg 2x" media="(min-width: 1280px)" />
            <source srcset="/img/hero-tab-1x.jpg 1x, /img/hero-tab-2x.jpg 2x" media="(min-width: 768px)" />
            <source srcset="/img/hero-mob-1x.jpg 1x, /img/hero-mob-2x.jpg 2x" media="(min-width: 320px)" />
            <img src="/img/hero-mob-1x.jpg" alt="Image of watch" height="366px"/>
        </picture>
    </div>
</section>