<section class="reviews">
<div class="container">
    <h2 class="reviews-section-name">Reviews</h2>
    
    <ul class="reviews-list">
        <li class="reviews-list-item">
            <img class="review-img" srcset="/img/hero-2-revie-1-1x.jpg 1x, /img/hero-2-revie-1-2x.jpg 2x"
             src="/img/hero-2-revie-1-1x.jpg" alt="Photo1">
            </img>
            <h3 class="reviews-item-title">John Wax</h3>
            <p class="reviews-paragraph">
                Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap
                fits nicely on the hand, and the mechanism works flawlessly.
            </p>
        </li>


        <li class="reviews-list-item item-2">
            <img class="review-img" srcset="/img/hero-1-revie-2-1x.jpg 1x, /img/hero-1-revie-2-2x.jpg 2x" 
                src="/img/hero-1-revie-2-1x.jpg" alt="Photo2">
            </img>
            <h3 class="reviews-item-title">Victoria Romashenko</h3>
            <p class="reviews-paragraph">
                Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and
                attention to detail make it a real gem among my accessories.
            </p>
        </li>


        <li class="reviews-list-item item-3">
            <img class="review-img" srcset="/img/hero-3-revie-3-1x.jpg 1x, /img/hero-3-revie-3-2x.jpg 2x" 
            src="/img/hero-3-revie-3-1x.jpg" alt="Photo3">
            </img>
                <h3 class="reviews-item-title">Anastasia Trachuk</h3>
                    <p class="reviews-paragraph">
                        My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like
                        [specify features] make it an indispensable companion in my daily life.
                    </p>
        </li>
    </ul>


</div>
</section>