<section class="sale" id="">
    <div class="container sale-container">
        <h2 class="sale-title">Sale</h2>
        <div class="sale-block">
            <ul class="sale-list">
            <div class="image-sale">
                <div class="small-images">
                    <li class="sale-item">
                    <img 
                    src="/img/sale-1-1x.png" 
                    alt="watch-1"
                    class="small-image-sale"
                    srcset="/img/sale-1-1x.png 1x, 
                        /img/sale-1-2x.png 2x" 
                    width="96"
                    height="100"
                    >
                    </li>
                    <li class="sale-item">
                    <img 
                    class="small-image-sale" 
                    src="/img/sale-2-1x.png" 
                    alt="watch-2"
                    srcset="/img/sale-2-1x.png 1x, 
                        /img/sale-2-2x.png 2x" 
                    width="96"
                    height="100"
                    >
                    </li>
                    <li class="sale-item">
                    <img 
                    class="small-image-sale" 
                    src="/img/sale-3-1x.png" 
                    alt="watch-3"
                    srcset="/img/sale-3-1x.png 1x, 
                        /img/sale-3-2x.png 2x" 
                    width="96"
                    height="100"
                    >
                    </li>
                    <li class="sale-item">
                    <img 
                    class="small-image-sale" 
                    src="/img/sale-4-1x.png" 
                    alt="watch-4"
                    srcset="/img/sale-4-1x.png 1x, 
                        /img/sale-4-2x.png 2x" 
                    width="96"
                    height="100"
                    >
                    </li>
                </div>
                <li class="sale-item big">
                <img 
                class="image-sale-big" 
                src="/img/sale-5-1x.png" 
                alt="watch-5"
                srcset="/img/sale-5-1x.png 1x, 
                        /img/sale-5-2x.png 2x" 
                    width="328"
                    height="398"
                >
                </li>
            </div>
            </ul>
            <div class="sale-block-features">
                <div class="sale-subtitle-article">
                    <h3 class="sale-subtitle">MARQ® Commander (Gen 2) - Carbon Edition
                    </h3>
                    <p class="sale-article">Product tag: 706587</p>
                </div>
                <div class="sale-block-prise">
                    <button class="sale-btn" type="button">€1500
                    </button>
                    <button class="sale-price" type="button">€3000</button>
                </div>
                <p class="sale-features">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
                </p>
                <ul class="sale-btn-block">
                    <li class="btn-block-features">
                        <button class="sale-btn-features" type="button">Fused carbon fiber
                        </button>
                    </li>
                    <li class="btn-block-features">
                        <button class="sale-btn-features" type="button">Grade-5 Titanuim
                        </button>
                    </li>
                    <li class="btn-block-features">
                        <button class="sale-btn-features" type="button">Athlete
                        </button>
                    </li>
                    <li class="btn-block-features">
                        <button class="sale-btn-features" type="button">Golfer
                        </button>
                    </li>
                    <li class="btn-block-features">
                        <button class="sale-btn-features" type="button">Commander
                        </button>
                    </li>
                    <li class="btn-block-features">
                        <button class="sale-btn-features" type="button">Adventurer
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>