.about-us {
    /* padding-bottom: 60px; */
}

.about-us-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.description {
    padding: 40px 20px;
    border-radius: 30px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
} 

.description-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 20px;
}

.description-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: "Gilroy", sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.button-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
} 

.button-view {
    display: flex;
    max-width: 160px;
    max-height: 48px;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #fbfbfb;
    background-color: #3350e9;
    margin: 0;
}

.button-view:hover,
.button-view:focus {
    background-color: #1f3cd4;
}

.image-block {
    overflow: hidden;
    max-width: 335px;
    max-height: 446px;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .description {
        padding: 80px 60px;
        max-height: 352px;
        max-width: 584px;
        border-radius: 50px;
        margin-bottom: 0px;
    }

    .description-title {
        font-size: 48px;
        line-height: 0.9;
        margin-bottom: 36px;
    }

    .description-text {
        font-size: 16px;
    }

    .button-block {
        margin-top: 60px;
    }

    .image-block {    
        max-width: 704px;
        max-height: 512px;
        border-radius: 50px;
        padding-top: 40px;
    }
} 

@media screen and (min-width: 1280px) {
    .about-us-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    
    .description {
        padding: 80px 60px;
        max-width: 460px;
        max-height: 372px;
        border-radius: 50px;
        margin-right: 40px;
        margin-bottom: 0px;
    }

    .description-text {
        font-size: 16px;
    }

    .button-block {
        margin-top: 40px;
    }

    .image-block {
        max-width: 530px;
        max-height: 532px;
        padding-top: 0px;
    }
} 
