/* mobile */
.advertisement-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advertisement {
    background-color: #0c0c0c;
    background-image:  url(/img/advert-mob-1x.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 28px;
    border-radius: 30px;  
}

@media (min-resolution: 192dpi) and (min-width: 320px) {
    .advertisement { 
        background-image: url(/img/advert-mob-2x.png);
    }
}

.advertisement-text {
    /* width: 279px; */
    height: 167px;
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px; 
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    
}

.advertisement-text-gray {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}

.anchor-button {
    margin-top: 43px;
    display: inline-block;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    width: 158px;
    height: 46px;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.anchor-button:hover,
.anchor-button:focus{
    color: #0c0c0c;
    background-color: #fbfbfb;
}
/* tablet */
@media (min-width: 768px) {
    .advertisement{
    padding: 80px 64px;
    background-image: url(/img/advert-tablet-1x.png);
    }
    .advertisement-text {
    width: 576px;
    height: 185px;
    font-family: "Gilroy", sans-serif;
    font-size: 48px;      
    line-height: 44px;
    }
    .advertisement-text-gray {
    font-size: 48px;
    line-height: 44px;
    }
    .anchor-button {
     margin-top: 32px;
    }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
    .advertisement {
        background-image: url(/img/advert-tablet-2x.png)
    }
}
/* desktop */

@media (min-width: 1280px) {

    .advertisement{
    padding-top: 83px;
    padding-bottom: 83px;
    padding-left: 80px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    
    background-image: url(/img/advert-desktop-1x.png)
    }

    .adv {
        /* margin-right: 140px; */
    }

    .adv-link {
        margin: 0 0 87px 140px;
    }

    .advertisement-text {
    width: 690px;
    height: 132px;
    font-family: "Gilroy", sans-serif;
    font-size: 48px;
    line-height: 44px;
    }
    .anchor-button {
    margin: 0;
    /* position: absolute;
    top: 80px;
    right: 80px; */
    }
}
@media (min-resolution: 192dpi) and (min-width: 1280px) {
    .advertisement {
        background-image: url(/img/advert-desktop-2x.png)
    }
}




