.catalog{ 
    padding-bottom: 60px; 
} 
 
.catalog-title { 
    font-weight: 600; 
    font-size: 32px; 
    line-height: 1; 
    letter-spacing: -0.02em; 
    color: #0c0c0c; 
    margin-bottom: 24px; 
    font-family: "Gilroy", sans-serif; 
} 
 
.catalog-list { 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    row-gap: 20px; 
    width: 100%; 
} 
 
.catalog-item { 
    border-radius: 30px; 
    border: 1px solid rgba(12, 12, 12, 0.05); 
    background-color: #f3f3f3; 
    padding: 24px 28px; 
    box-sizing: border-box; 
} 
 
 
.item-img-catalog { 
    max-width: 208px; 
    max-height: 226px;  
    margin: 18px 35px 28px 35px; 
} 
 
.hidden{ 
    display: none; 
} 
 
.catalog-item-title { 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.25; 
    letter-spacing: -0.02em; 
    color: #0c0c0c; 
    margin-bottom: 8px; 
} 
 
.catalog-price { 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 1.28571; 
    letter-spacing: -0.02em; 
    color: rgba(12, 12, 12, 0.5); 
} 
.catalog-btn{ 
        margin-top: 40px; 
        font-weight: 500; 
        font-size: 14px; 
        line-height: 1.28571; 
        text-align: center; 
        color: #fbfbfb; 
        background-color: #3350e9; 
} 
.catalog-btn:hover,  
.catalog-btn:focus{ 
    background-color: #1f3cd4; 
} 
 
@media screen and (min-width:768px){ 
    .catalog{ 
        padding-top: 80px; 
        padding-bottom: 80px; 
    } 
    .hidden{ 
        display: flex; 
            flex-direction: row; 
            flex-wrap: wrap; 
    } 
    .catalog-list { 
        gap: 32px 16px; 
        max-width: 704px;         
    } 
    .catalog-item{ 
        min-height: 366px; 
        width: calc((100% - 16px) / 2); 
        box-sizing: border-box; 
        min-width:288px; 
        padding: 24px 32px; 
    } 
 
    .item-img-catalog{ 
        max-width: 280px; 
        max-height: 312px; 
        margin: 10px 6px 20px; 
    }  
 
    .catalog-btn{ 
        display: none; 
    } 
     
    .catalog-item-title{ 
        font-size: 20px; 
        line-height: 1; 
         
    } 
} 
 
@media screen and (min-width:1280px){ 
    .catalog{ 
        padding-top: 100px; 
        padding-bottom: 100px; 
    } 
    .catalog-list { 
        gap: 32px 23px; 
         max-width: 1150px; 
    } 
    .catalog-item { 
        min-height: 414px; 
        width: calc((100% - 46px) / 3); 
        box-sizing: border-box; 
        /* min-width: 368px; */ 
    } 
    .item-img-catalog { 
     max-width: 292px; 
     max-height: 292px; 
     margin: 6px 6px 24px; 
    } 
}
