.body {
    background-color: #fbfbfb;
    font-family: "Gilroy", sans-serif;

}

.container {
    max-width: 335px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
.container {
    max-width: 704px;
    margin: 0 auto;
}
}

@media screen and (min-width:1280px) {
    .container {
    max-width: 1150px;
    margin: 0 auto;
    }
}