.body {
  background-color: #fbfbfb;
  font-family: 'Gilroy', sans-serif;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
  border: none;
  border-radius: 16px;
  min-width: 160px;
  min-height: 48px;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  max-width: 335px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    margin: 0 auto;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1150px;
    margin: 0 auto;
    padding-right: 65px;
    padding-left: 65px;
  }
}
