body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbfb;
  min-height: 100%;
}
.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.about-us-title,
.catalog-title,
.sale-title,
.reviews-title,
.contact-us-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;
  color: #0c0c0c;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 65px;
    padding-left: 65px;
  }
}
