.contact-us {
    padding-bottom: 60px;
    min-width: 375px;
}

.contact-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}
.contact-modal {
    min-width: 251px;
    border-radius: 30px;
    background-color: #f3f3f3;
    padding: 48px 28px;
}

.contact-text{
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    text-align: left;
}
.modal-form{
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
}
.input{
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 38.4px;
    width: 261.4px;
    gap: 18px;
    margin-bottom: 18px;
    padding-left: 14px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus {
    border-color: #3350e9;
}

.input::placeholder,
.comment::placeholder{
    font-weight: 400;
    line-height: 1.25;
    color: #0c0c0c;
    opacity: 1;
    font-size: 14px;
}

.comment{
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    height: 65.4px;
    padding-left: 14px;
    padding-top: 15px;
    min-width: 261.4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.comment:focus{
    border-color: #3350e9;
}
.contact-btn{
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #fbfbfb;
    min-width: 134px;
    min-height: 42px;
    background-color: #3350e9;
    margin: 0;
}
.contact-btn:hover,
.contact-btn:focus{
    background-color: #1f3cd4;
}

.contact-picture {
    border-radius: 30px;
    width: 335px;
    padding-top: 20px;
}


@media screen and (min-width: 768px) {
    .contact-us {
         min-width: 768px;
    }
    .contact-title {
        font-size: 48px;
        line-height: 0.9;
        margin-bottom: 40px;
    }
    .contact-modal {
        padding: 50px 122px;
        border-radius: 50px;
        min-width: 460px;
    }

    .contact-text {
        font-size: 16px;
    }
    .modal-form{
        min-width: 460px;
        display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
    }

    .input{
        height: 48.4px;
        min-width: 442.4px;
    }
    .comment{
        height: 71.4px;
        min-width: 442.4px;
    }
    .contact-picture{
        border-radius: 50px;
        min-width: 704px;
        min-height: 556px;
        padding-top: 40px;
    }
    .input::placeholder,
    .comment::placeholder{
    font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .contact-flex {
        padding-bottom: 80px;
        display: flex;
        justify-content: space-between;
    }
    .contact-picture{
        min-width: 530px;
        min-height: 556px;
        padding-top: 0;
    }

    .contact-us {
        min-width: 1280px;
    }

    .contact-modal {
        width: 530px;
        padding: 50px 60px;
        margin-right: 40px;
    }
    .contact-modal, .contact-picture{
        width: 45%;
    }
}
