.contact-us {
    font-family: "Gilroy", sans-serif;
    
}
.container {
    max-width: 375px;
        padding: 0 20px 60px 20px;
        margin: 0 auto;
    
    }


.contact-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.contact-modal {
            display: flex;
            gap: 28px;
            flex-direction: column;
            border-radius: 30px;
            padding: 48px 28px;
            background-color: #f3f3f3;
           
}

.contact-text {
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    text-align: left;
}




.input {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    height: 42px;
    width: 100%;
    margin-bottom: 18px;
    background-color: transparent;
    outline: transparent;
    box-sizing: border-box;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    border-color: #3350e9;
}

.input::placeholder,
.comment::placeholder {
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    line-height: 1.28;
    color: #0c0c0c;
    opacity: 1;
    font-size: 14px;
    padding-left: 14px;
    padding-top: 12px;
}

.comment {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    height: 84px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
    border-color: #3350e9;
}

.contact-btn {
        background-color: #3350e9;
            border-radius: 16px;
            padding: 12px 50px;
            width: 134px;
            font-family: Gilroy, sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.28;
            text-align: center;
            color: #fbfbfb;
            cursor: pointer;
            display: block;
            border: none;
            margin-left: 0;
            transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
  /*  display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #fbfbfb;
    min-width: 134px;
    min-height: 42px;
    background-color: #3350e9;
    margin: 0;*/
}

.contact-btn:hover,
.contact-btn:focus {
    background-color: #1f3cd4;
}

.contact-picture {
    border-radius: 30px;
    max-width: 335px;
    padding-top: 20px;
}


@media screen and (min-width: 768px) {

.container{
            max-width: 768px;
                padding: 0 32px 80px 32px;
}
    .contact-title {
        font-size: 48px;
        line-height: 0.9;
        margin-bottom: 40px;
    }

    .contact-modal {
        padding: 50px 122px;
        border-radius: 50px;
        margin-bottom: 40px;
            gap: 32px;
        }
    

    .contact-text {
        font-size: 16px;
    }
    .contact-flex{
        width: 704px;
        display: flex;
        flex-wrap: wrap;
    }

    .contact-picture {
        border-radius: 50px;
        max-width: 704px;
        max-height: 556px;
    
    }

    .input::placeholder,
    .comment::placeholder {
        font-size: 16px;
        padding-top: 16px;
        padding-left: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
                max-width: 1280px;
                    padding: 0 65px 100px 65px;
    }
    .contact-picture {
        
        min-width: 530px;
        min-height: 556px;
        padding-top: 0;
    }
    .contact-flex{
        width: 580px;
        display: flex;
        flex-wrap: nowrap;
        gap: 40px;
    }

    .contact-modal {
       /* border-radius: 50px;
            padding: 50px 60px;
            max-width: 580px;
            margin-bottom: 0;*/
        min-width: 580px;
        padding: 50px 60px;
        margin-bottom: 0;
        
    }
}