.footer {
  margin: 0 12px;
  min-width: 335px;
}
.footer_box {
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  background: #0c0c0c;
}

.media_box {
  min-width: 279px;
}

.social_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.logo_footer {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.link_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.link_list {
  display: flex;
  gap: 10px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 34px;
  height: 34px;
  fill: #fbfbfb;
  opacity: 0.8;
}
.link:hover,
.link:focus {
  opacity: 1;
}
.contacts_box {
  margin-bottom: 40px;
}
.tell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  font-style: normal;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  height: 44px;
}
.tagline {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  width: 279px;
}
.footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 92px;
}
.menu_nav {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  text-align: center;
  color: #fbfbfb;
}
.nav_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px 16px;
  width: 147px;
}
.catalog_box {
  display: flex;
  margin-bottom: 24px;
}
.footer_nav_box {
  display: flex;
  flex-grow: 1;
}
.address {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  font-style: normal;
  width: 83px;
}
.policy {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.policy_text {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}
.accent {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 0 24px;
    min-width: 704px;
  }
  .footer_box {
    padding: 40px 40px 28px 40px;
  }
  .social_box {
    flex-grow: 1;
  }

  .media_box {
    display: flex;
    margin-bottom: 86px;
        min-width: 624px;

  }
  .logo_footer {
    font-size: 20px;
  }
  .link {
    width: 36px;
    height: 36px;
  }
  .svg {
    width: 20px;
    height: 20px;
  }
  .tell {
    font-size: 14px;
    line-height: 1.28;
  }
  .footer_text {
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .tagline {
    font-size: 28px;
    line-height: 1.14;
    width: 524px;
  }
  .catalog_box {
    margin-bottom: 28px;
  }
  .nav_list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 19px;
    width: auto;
  }
  .menu_nav {
    font-size: 14px;
    line-height: 1.28;
  }
  .address {
    font-size: 14px;
    line-height: 1.28;
    width: 162px;
  }
  .policy {
    padding-top: 28px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .policy_text {
    font-size: 14px;
    line-height: 1.28;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
min-width: 1216px;
  }

  .footer_box {
    position: relative;
  }
  .media_box {
    margin-bottom: 142px;
    min-width: 1136px;
  }

  .footer_text {
    position: absolute;
    top: 47px;
    left: 25%;
    right: 25%;
  }
  .nav_list {
    gap: 40px;
    width: auto;
  }
}